* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Header */
.header-container {
    background-color: rgb(0, 0, 0);
    padding:20px;
}
.header-container > nav {
    display: flex;
    justify-content:space-between;
}
.header-container > nav > ul > li {
    display: inline;
    margin-right: 20px;
}
.header-container > nav > ul > li > a {
    text-decoration: none;
    color: rgb(255, 255, 255); 
}
.header-container > nav > ul > li > a:hover {
    
    color: rgb(178, 178, 178); 
}
.header-container > nav > p > a{
    color:rgb(247, 227, 162);
    text-align: right;
}





